p {
	text-indent: 25px;
}
body  {
	font-family: Segoe UI;
}
h1 {
	font-size: 14px;
}
@media screen and (min-width: 750px)  {
	h1 {ы
	font-size: 20px;
	}
}
@media screen and (max-width: 462px)  {
	body {
	background: black;
	}
}
@media screen and (max-width: 500px)  {
	body {
	color: green;
	}		
}


